!!!
%html
  %head
    %title Fuji Sinatra Example
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

    <script src="//use.typekit.net/lpc2yow.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  %body
    = Fuji::Header.render({logo_subtext: "example"})
    .content
      = yield