.content

	:markdown
		### Educational resources for [developers](#developers), [teachers](#teachers), and [IT professionals](#IT_professionals).

	%a{:name => "developers"}

	:markdown

		## Developers 

		### Guides

		* Get started on Heroku with our [quickstart guides](https://devcenter.heroku.com/articles/quickstart).
		* [The Twelve-Factor App](http://www.12factor.net/) details the technical philosophy behind Heroku and the architectural principles that define successful Heroku apps.
		* Our [architecture guides](https://devcenter.heroku.com/categories/application-architecture) contain a wealth of information on best practices for deploying to Heroku.

		### Books 

		* [Professional Heroku Programming](http://www.amazon.com/Professional-Heroku-Programming-Wrox-Programmer/dp/1118508998) is a thorough manual for anyone who wants to learn how to build, deploy and scale applications on the Heroku platform.
		* [The Heroku Hacker's Guide](http://www.theherokuhackersguide.com/) is brief guide to the platform aimed at experienced

		### Video

		* All technical videos are available on our [Vimeo channel](http://vimeo.com/channels/511747). 


		### Blogs

		* [Miyagi Journal](http://www.miyagijournal.com/) is a series of essays on software development by thought leaders in the Heroku community.
		* [Higher-Order Heroku](http://www.higherorderheroku.com/) is a collection of articles on deploying and instrumenting Heroku apps.
		* [Postgres Weekly](http://postgresweekly.com/) is weekly roundup of PostgreSQL news and articles.


	%a{:name => "teachers"}

	:markdown

		## Teachers
		* __Escape localhost__: Heroku's [free development accounts](https://id.heroku.com/signup) allow students to easily deploy and share their apps at no cost
		* __Apps as exercises__: bootstrap students' learning by creating sample apps and [forking](https://devcenter.heroku.com/articles/fork-app) them. Forked apps include all the data and configuration of the original apps, allowing students to dive into specific exercise with no setup time.
		* __Access guest speakers__: sign up to become a [recognized training partner](Heroku_Training_Partner_Program_Guide.pdf) and receive access to benefits like Heroku guest lectureres.

	%a{:name => "IT_professionals"}

	:markdown

		## IT Professionals

		* This [whitepaper](Heroku_Innovation_Whitepaper.pdf) details the business benefits of running on Heroku.
		* See what our customers have built on the platform by reading a [case study](https://success.heroku.com).
		* Learn more about how Heroku works in this [free online class](http://lms.cyberu.com/12/launch.aspx?hash=WUlRa1pjd0RRUDVnd1h0MHFtNU1GdzNlbFJTUnFmcHNIWW4wd3U3WlJlRTkzMGY4TnBlUEY2VytOWEpiMlhFNFZ1ZDVqNkNUREtYdDR6Z0kzOC9mNFZnbDF0NGVpRlVnM0lRenFZK2xHODkwMytCVHd5SFBLZ3pGTlpGL0NzdHA=) aimed at IT professionals new to the platform. 


	